body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:722px;
  top:262px;
  width:378px;
  height:38px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#990099;
  text-align:right;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:190px;
  top:430px;
  width:140px;
  height:40px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:452px;
  top:214px;
  width:648px;
  height:38px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#990099;
  text-align:right;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:38px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:310px;
  top:32px;
  width:790px;
  height:151px;
  font-family:'Elephant Bold', 'Elephant';
  font-weight:700;
  font-style:normal;
  font-size:130px;
  color:#000000;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:166px;
}
#u6 {
  position:absolute;
  left:10px;
  top:-8px;
  width:770px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:16px;
  top:340px;
  width:1334px;
  height:66px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:66px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:16px;
  top:430px;
  width:140px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:16px;
  top:580px;
  width:1334px;
  height:400px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:400px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:16px;
  top:527px;
  width:397px;
  height:43px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:43px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1190px;
  top:1050px;
  width:160px;
  height:60px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
