.header {
    background: url(/media/terminal-airport.jpg) no-repeat center center; 
    background-size: cover; 
    
    .box {
        border-radius: @border-radius-large;
        box-shadow: 0px 0px 20px fade(@brand-primary, 100%);
        padding: @padding-xs-horizontal;
        background: fade(@bg-color-light,25%);
    }
    
    h1 {
        text-shadow: 2px 2px 0px darken(@brand-primary, 25%), -1px -1px 0px darken(@brand-primary, 25%);
        margin: 0 0 1em 0;
        font-size: 36px;
        @media (min-width: @screen-sm-min) {
            font-size: 48px;
        }
        font-weight: bold;
        small {
            font-style: italic;
            color: white;
        }
    }
    
    hr {
        margin: 0 0 @form-group-margin-bottom 0;
        border-color: white;
    }

    .title {
        border-top-left-radius: @border-radius-base;
        border-top-right-radius: @border-radius-base;
        background: fade(@component-active-bg, 75%);
        
        a, .btn-link, .btn-inline-link {
            color: white;
            &:hover {
                color: @bg-color;
            }
        }
    }
    
    .content {
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
        background: fade(@bg-color-light, 75%);
    }
    
    .title, .content {
        padding: @grid-gutter-width / 2;
    }
    
    h1, h2 {
        color: white;
    }
    
    h2 {
        font-size: 24px;
        margin: 0;
    }
    
    .action {
        margin-bottom: 0;
        button {
            margin-top: @grid-gutter-width / 2;
        }
    }
    
    .btn-close {
        .text-right;
        @media (min-width: @screen-xs-min) {
            .pull-right;
        }
    }
    
    .form.row {
        @media (min-width: @screen-xs-min) {
            margin-right: 1.5em;
        }
    }
}