@import "variables";

a, .btn-link {
    color: @main-color;
    &:hover {
        color: darken(@main-color, 50%);
        text-decoration: none;
    }
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.main-section {
    padding-top: 4em;
    padding-bottom: 4em;
}


.circle {
    background: @main-color;
    display: inline-block;
    color: white;
    font-size: 48px;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: .75em;
}

h1, h2, h3 {
    color: @main-color;
}

nav a.navbar-brand img {
    display: inline-block;
    width: 100%;
    margin: 0;

}
nav a.navbar-brand {
    display: inline-block;
    width: 100%;
    padding: 0;
}
