@brand-primary:                     #5b5b8c;
@bg-color:                          #dfdfff;
@bg-color-light:                    tint(@bg-color, 75%);
@gray-light:                        lighten(@gray-base, 50%);
@gray-lighter:                      lighten(@gray-base, 75%);
@gray-lightest:                     lighten(@gray-base, 95%);

@link-hover-color:                  darken(@brand-primary, 40%);
@link-hover-decoration:             none;
@font-family-sans-serif:            'Open Sans', Helvetica, Arial, sans-serif;
@font-size-base:                    14px;
@line-height-base:                  1.66;
@font-weight-base:                  400;
@headings-color:                    @brand-primary;
@headings-font-weight:              300;

@component-active-bg:               @brand-primary;
@component-active-color:            white;

@grid-float-breakpoint:             @screen-xs-min;
@navbar-default-bg:                 fade(@bg-color-light, 95%);
@navbar-default-link-active-bg:     @component-active-bg;
@navbar-default-border:             @brand-primary;
@navbar-default-link-color:         @link-color;
@navbar-default-link-active-color:  @component-active-color;
@navbar-default-link-hover-color:   @link-hover-color;

@navbar-default-toggle-border-color:transparent;
@navbar-default-toggle-hover-bg:    transparent;
@navbar-default-toggle-icon-bar-bg: transparent;

@nav-link-hover-bg:                 @gray-lightest;
@pagination-hover-bg:               @gray-lightest;
@jumbotron-bg:                      @gray-lightest;
@list-group-disabled-bg:            @gray-lightest;
@hr-border:                         @gray-lightest;
@page-header-border-color:          @gray-lightest;
@blockquote-border-color:           @gray-lightest;
@nav-tabs-link-hover-border-color:  @gray-lightest;

@input-color:                       @brand-primary;
@input-group-addon-bg:              @gray-lightest;
@input-bg-disabled:                 @gray-lightest;
@input-color-placeholder:           @gray-lighter;
@text-muted:                        @gray-lighter;